<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" >
    <link href="/css/styles.css" rel="stylesheet">

    <title><%= title %></title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script>
      const token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      console.log(token);

      function deleteCourse(id){
        fetch(`/courses/${id}/chapters`,{
          method: "delete",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "_csrf": token
          })
        }).then((res)=>{
          if(res.ok){
            window.location.href="/";
          }
        }).catch((error)=>{
          console.error(error);
        });
      }
    </script>
  </head>

  <body class="bg-gray-100 font-[Comic_Sans_MS] text-[1.2rem] px-24 py-16 min-h-screen leading-relaxed">
    
    <div class="text-base text-gray-600 mb-4">
      <a href="/" class="text-blue-600 underline hover:text-blue-800">Home</a> &gt; <%= course.title %>
    </div>

    <div class="flex justify-between mb-6">
      <div class="w-2/3 pr-8">
        <h1 class="text-3xl font-bold mb-6"><%= course.title %></h1>
        <h2 class="italic underline text-xl font-semibold mb-6">Chapters</h2>
  
        <% if (chapters.length === 0) { %>
          <p class="text-gray-700 mb-6">There are no chapters available. Create one?</p>
        <% } else { %>
          <div class="space-y-3">
            <% chapters.forEach((chapter, index) => { %>
              <div class="flex justify-between items-center border px-4 py-2 rounded shadow w-90 ">
                <span><%= chapter.title %></span>
                <% if(!isEnrolled && role !== 'Instructor') { %>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                      <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                <% } %>
              </div>
            <% }) %>
          </div>
        <% } %>
  
        <% if(isAuthor) { %>
          <button class="px-6 py-3 bg-purple-600 text-white font-bold text-lg rounded mt-8">
            <a href="/courses/<%= course.id %>/chapters/new">Create a new chapter</a>
          </button>
        <% } %>
      </div>

      <% if(isAuthor) { %>
        <div class="space-x-6 text-blue-600 font-semibold text-lg">
          <a href="/courses/1/edit" class="hover:underline">Edit</a>
          <a href="#" onclick="deleteCourse(<%= course.id %>)" class="hover:underline">Delete</a>
        </div>
      <% } else if(!isEnrolled && role !== 'Instructor') { %>
        <div class="w-1/3 border rounded p-6 shadow-lg">
          <h2 class="text-2xl font-bold mb-2"><%= course.title %></h2>
          <p class="text-gray-700 mb-4"><%= instructor.firstName %> <%= instructor.lastName %></p>
          <div class="flex items-center text-gray-600 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" class="size-5 mr-2">
              <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
            </svg>
            <span><%= course.count %></span>
          </div>
          <button class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded w-full font-semibold">
            Enroll
          </button>
        </div>
      <% } %>
    </div>
  </body>
</html>