<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" >
    <meta name="chapterId" content="<%= chapter.id %>" >
    <meta name="pageIds" content="<%= pages %>" >
    <link href="/css/styles.css" rel="stylesheet">

    <title><%= title %></title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script>
      const token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      const chapterId = document.querySelector('meta[name="chapterId"]').getAttribute("content");
      const pageIds = document.querySelector('meta[name="pageIds"]').getAttribute("content").split(',').map(Number);

      function markAsComplete(id){
        fetch(`/pages/${id}`,{
          method: "put",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "_csrf": token
          })
        }).then((res)=>{
          if(res.ok){
            window.location.reload();
          }
        }).catch((error)=>{
          console.error(error);
        });
      }

      function nextPage(id){
        const index = pageIds.indexOf(id);
        if(index < pageIds.length-1){
          const newid = pageIds[index + 1];
          console.log(newid);
          window.location.href = `/pages/${newid}`;
        }
      }

      function deletePage(id){
        fetch(`/pages/${id}`,{
          method: "delete",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "_csrf": token
          })
        }).then((res)=>{
          if(res.ok){
            window.location.href=`/chapters/${chapterId}/pages`;
          }
        }).catch((error)=>{
          console.error(error);
        });
      }
    </script>
  </head>


  <body class="bg-white min-h-screen font-[Comic_Sans_MS] px-24 py-16 leading-relaxed">
    <%- include('breadcrumbs.ejs',{path: [`/courses/${course.id}/chapters`,course.title,`/chapters/${chapter.id}/pages`,chapter.title,page.title]}) %>

    <div class="p-12 max-w-5xl mx-auto">

      <div class="flex justify-between items-center mb-8">
        <h1 class="text-4xl font-bold"><%= page.title %></h1>
        <% if(isAuthor) { %>
          <div class="space-x-6 text-blue-600 font-semibold text-lg">
            <a href="/courses/1/edit" class="hover:underline">Edit</a>
            <a href="#" onclick="deletePage(<%= page.id %>)" class="hover:underline">Delete</a>
          </div>
        <% } %>
      </div>

      <div class="space-y-6 text-lg leading-relaxed">
        <% page.content.split('\n').forEach(paragraph => { %>
          <p><%= paragraph %></p>
        <% }) %>
      </div>

      <% const showCompleteButton = (role === "Student"  && !isComplete); %>
      <div class="flex items-center mt-16 <%= showCompleteButton ? 'justify-between' : 'justify-center' %>">
        <% if(showCompleteButton) { %>
          <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-8 py-3 rounded-md" onclick="markAsComplete(<%= page.id %>)">
            Mark as complete
          </button>
        <% } %>
        <button class="bg-green-500 hover:bg-green-600 text-white font-semibold px-8 py-3 rounded-md flex items-center gap-2" onclick="nextPage(<%= page.id %>)">
          Next 
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
            </svg>              
          </span>
        </button>
      </div>

    </div>

  </body>
</html>
