<section>
  <h3 class="text-md font-semibold mb-3"><%= heading %></h3>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <% for (let i = 0; i < courses.length; i++) { %>
      <div class="bg-white p-4 shadow rounded">
        <p class="font-bold text-lg mb-1"><%= courses[i].title %></p>
        <p class="text-gray-600 text-sm mb-1"><%= courses[i].User.firstName %>  <%= courses[i].User.lastName %></p>
        <p class="text-gray-500 text-sm mb-2 flex"> 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" class="size-5 mr-2">
            <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
          </svg>
          <%= courses[i].count %>
        </p>
        <div class="flex space-x-2">
          <button class="bg-cyan-600 text-white px-2 py-1 rounded text-sm">
            <a href="/courses/<%= courses[i].id %>/chapters">View course</a>
          </button>

          <% if(role ===  "Student" && !isEnrolled) { %>
            <button class="bg-green-500 text-white px-2 py-1 rounded text-sm" onclick="enroll(<%= courses[i].id %>)">Enroll</button>
          <% } else if(role !== 'Instructor') { %>
            <button class="bg-green-500 text-white px-2 py-1 rounded text-sm" onclick="unenroll(<%= courses[i].id %>)">Unenroll</button>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</section>