<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" >
    <link href="./css/styles.css" rel="stylesheet">

    <title><%= title %></title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body class="bg-gray-100 font-[Comic_Sans_MS] p-6">
    <header class="flex justify-between items-center border-b pb-2 mb-4">
      <h1 class="text-2xl font-bold">Welcome <%= name %></h1>
      <div>
        <a href="/update"><button class="bg-red-600 text-white px-4 py-1 rounded">Update Password</button></a>
        <a href="/signout"><button class="bg-red-600 text-white px-4 py-1 rounded">Signout</button></a>
      </div>
    </header>

    <% if (role === 'Instructor') { %>
      <%- include('instructor.ejs') %>
    <% } else { %>
      <%- include('student.ejs') %>
    <% } %>

    <%- include('courseList.ejs', {heading: "Available Courses", isEnrolled: false}) %>
  </body>
</html>