<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/styles.css" rel="stylesheet">

    <title><%= title %></title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-gray-100 font-[Comic_Sans_MS] p-8">
    <%- include("breadcrumbs.ejs",{path: ["Report"],isAuthor: false,isEnrolled: false}) %>
    <h1 class="text-3xl font-bold mb-8">Report</h1>

    <div class="overflow-x-auto">
      <table class="min-w-full bg-white rounded shadow-md">
        <thead class="bg-gray-200 text-gray-700">
          <tr class="text-center">
            <th class="py-4">Course</th>
            <th class="py-4">Enrolled</th>
            <th class="py-4">Completed</th>
            <th class="py-4">Completion %</th>
          </tr>
        </thead>
        <tbody>
          <% courses.forEach(course => { %>
            <tr class="border-t hover:bg-gray-50 text-center">
              <td class="py-4 font-medium"><%= course.title %></td>
              <td class="py-4"><%= course.count %></td>
              <td class="py-4"><%= course.completed %></td>
              <td class="py-4">
                <% if(course.count === 0 ) { %>
                  0.0%
                <% } else {%>
                  <%= ((course.completed / course.count) * 100).toFixed(1) %>%
                <% } %>
              </td>
            </tr>
          <% }) %>

          <tr class="font-bold border-t bg-gray-100 text-center">
            <td class="py-2">Total</td>
            <td class="py-2"><%= totalCount %></td>
            <td class="py-2"><%= totalCompleted %></td>
            <td class="py-2"><%= ((totalCompleted / totalCount) * 100).toFixed(1) %>% </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
